.Books {
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: 95%;
}

#SearchFilterBar {
    padding-top: 1vh;
    padding-left: 1vw;
    padding-bottom: 1vh;
    background-color: #2d2d2d;
    width: 95%;
    display: grid;
    grid-template-columns: 95% 5%;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 1vh 1vh 0vh 0vh;
}

#SearchField {
    padding-top: 1vh;
    padding-right: 1vw;
    width: 100%;
    color: white;
}

#filterChevronButton {
    grid-column-start: 2;
    grid-column-end: 3;
    padding-top: 2vh;

    font-size: 3vh;
    height: 4vh;
    width: 4vh;
    text-align: center;
    color: #828282;
}

#filterChevronButton:hover {
    color: white;
}

#filterChevronButton:active {
    color: #0E639C;
}

#filterBar {
    width: 95%;
    background-color: #2d2d2d;

    padding-left: 2vw;
    padding-right: 2vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    color: white;
    border-radius: 0vh 0vh 1vh 1vh;
}

#filterLanguages {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

#filterGenre {
    grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 2;
}

#filterAvailable {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

#filterYearFrom {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
}

#filterYearTo {
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 3;
}

#filterPages {
    margin-top: 1vh;
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 4;
}

.switch-on {
    color: #0E639C;
}

.switch-off {
    color: #a6a6a6;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}